/*

Convención de propiedades
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más

*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --bitcoin-orange-warm: #c57d31;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --dark-gray: #808080;
  --off-white: #faf8f7;
  --just-white: #fff;
  --table-cell-key: #b5b0ac;
  --table-cell-value: #757575;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

html,
body,
section {
  padding: 0;
  margin: 0;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

.header__image {
  width: 128, 57px;
  height: 24px;
  margin-top: 39px;
}

.header__title {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 36px;
  margin-bottom: 0px;
  align-self: center;
  font-size: 2.4rem;
  color: var(--just-white);
}

.header__description {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 24px;
  align-self: center;
  font-size: 1.4rem;
  color: var(--soft-orange);
}

.header__link {
  position: relative;
  width: 229px;
  top: 45px;
  margin: 0 auto;
  padding: 12px 0px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  background: var(--off-white);
  /* Sombra /Blanco */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header__link-icon {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 10px;
  background-image: url(../assets/icons/dropdown-arrow.svg);
}

.exchange {
  background-color: var(--off-white);
  padding-bottom: 65px;
  min-width: 320px;
}
.exchange-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
}

.exchange-header__img {
  height: 195px;
  margin-top: 39px;
}

.exchange-header__title {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 40px;
  margin-bottom: 0px;
  align-self: center;
  font-size: 2.4rem;
}

.exchange-header__description {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 24px;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #757575;
}

.exchange-table__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-top: 35px;
}

.exchange-table__title {
  position: relative;
  right: 50px;
  font-size: 1.8rem;
  color: var(--bitcoin-orange);
}

.exchange-table__table {
  background-color: var(--just-white);
  border-radius: 8px;
  border-spacing: 0px;
}

.exchange-table__table-cell {
  font-family: Inter;
  font-style: normal;
  padding: 10px 12px;
  border: 1px solid var(--off-white);
}

.exchange-table__table-cell--key {
  width: 90px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--table-cell-key);
  text-align: left;
}

.exchange-table__table-cell--value {
  width: 70px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--table-cell-value);
}

.exchange-table__nav-arrow {
  position: absolute;
  top: 47%;
}

.exchange-table__nav-arrow--next {
  left: 80%;
}

.exchange-table__nav-arrow--prev {
  left: 15%;
}

.icon-arrow-prev {
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url(../assets/icons/arrow-left.svg);
}

.icon-arrow-next {
  display: inline-block;
  width: 18px;
  height: 20px;
  background-image: url(../assets/icons/arrow-right.svg);
}

.exchange-table__date {
  padding: 6px 10px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #ffab45;
}

.benefits {
  background-color: var(--black);
  padding-bottom: 65px;
  padding-top: 25px;
  min-width: 320px;
}

.benefits_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.benefits__img-logo {
  position: relative;
  width: 60px;
  top: -45px;
}

.benefits__title {
  font-size: 2.4rem;
  text-align: center;
  color: var(--just-white);
}

.benefits__description {
  margin-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  color: var(--dark-gray);
}

.benefits-card {
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.benetifs-card__figure {
  margin-left: 0;
}

.benetifs-card__image {
  text-align: start;
}

.benetifs-card__title {
  font-size: 1.8rem;
  color: var(--just-white);
}

.benetifs-card__copy {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.promo,
.promo__container {
  max-width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../assets/imgs/bitcoinwoman.jpg");
  background-color: var(--bitcoin-orange-warm);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  position: relative;
  margin: 0 auto;
  top: 90px;
  text-align: center;
  font-size: 3rem;
  color: var(--just-white);
}

.plans {

  height: 600px;
  padding-top: 35px;
  min-width: 320px;
  background-color: var(--off-white);
}

.plans__container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x:contain;
  scroll-snap-type: x proximity;
  width: 100%;
  height: 600px;
  min-width: 320px;
  height: auto;
  padding-top: 15px;
  text-align: center;
}

.plans__title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 2.4rem;

  text-align: center;
  color: var(--warm-black);
}

.plans__description {
  width: 80%;
  margin: 0 auto 50px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  color: var(--table-cell-value);
}

.plans-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  width: 240px;
  min-width: 130px;
  max-width: 150px;
  height: 260px;
  margin-top: 0;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 16px;
  padding: 5px 30px 15px 30px;
  border-radius: 15px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-card__label {
  position: relative;
  top: -25px;
  width: 90px;
  padding: 6px 8px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-card__body {
  height: 145px;
}
.plans-card__label--suggestion {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Inter;
  color: var(--off-white);
  background-color: var(--bitcoin-orange);
}

.plans-card__label--lite {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Inter;
  color: var(--off-white);
  background-color: var(--secondary-blue);
}

.plans-card__label--premier {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Inter;
  color: var(--off-white);
  background-color: var(--warm-black);
}

.plans-card__price {
  font-size: 4.8rem;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
}

.plans-card__sup {
  font-size: 1.4rem;
  font-weight: normal;
}

.plans-card__copy{
  color: var(--table-cell-value);
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: center;
}
.plans-card__link {
  width: 80%;
  margin: 0 auto;
  padding: 6px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  background: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
}

.icon-orange-arrow {
  display: inline-block;
  width: 22px;
  height: 19px;
  background-image: url(../assets/icons/arrow-right-orange.svg);
}
