/*

Convención de propiedades
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más

*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

html,
body, section {
  padding: 0;
  margin: 0;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

.header__image {
  width: 128, 57px;
  height: 24px;
  margin-top: 39px;
}

.header__title {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 36px;
  margin-bottom: 0px;
  align-self: center;
  font-size: 2.4rem;
  color: var(--just-white);
}

.header__description {
  width: 80%;
  min-width: 228px;
  max-width: 900px;
  margin-top: 24px;
  align-self: center;
  font-size: 1.4rem;
  color: var(--soft-orange);
}

.header__link {
  position: relative;
  width: 229px;
  top: 45px;
  margin: 0 auto;
  padding: 12px 0px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  background: var(--off-white);
  /* Sombra /Blanco */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header__link-icon {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 10px;
  background-image: url(../assets/icons/dropdown-arrow.svg);
}

.exchange-header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
  height: auto;
  text-align: center;
}

.exchange-header__img {
  height: 195px;
  margin-top: 39px;

}

.exchange-header__title {
    width: 80%;
    min-width: 228px;
    max-width: 900px;
    margin-top: 36px;
    margin-bottom: 0px;
    align-self: center;
    font-size: 2.4rem;
  }
  
  .exchange-header__description {
    width: 80%;
    min-width: 228px;
    max-width: 900px;
    margin-top: 24px;
    align-self: center;
    font-size: 1.4rem;
  }